.h5{
    margin-left: 2px;
    margin-top: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn1{
    margin-left: 800px;
}
.btn2{
    margin-left: 70px;
}
.im{
    margin-left: 30px;
}
.form{
    margin-left: 190px;
    margin-top: 5px;
}
.sv1{
    padding-left: 2px;
    background-color: rgba(93, 85, 85, 0.359);
}
.sv2{
    margin-left: 10px;
    background-color: white;
}
.sv3{
    margin-left: 550px;
    background-color: rgba(158, 150, 150, 0.704);
}
body{
    background-color: #212529;
}
hr{
    color: white;
}